{% extends 'base.html' %}
{% load buttons %}
{% load static %}
{% load custom_links %}
{% load helpers %}

{% block title %}Onboarding Task{% endblock %}

{% block header %}
<div class="row noprint">
    <div class="col">
        <ol class="breadcrumb">
            <li><a href="{% url 'plugins:thola_nautobot:tholaonboarding_list' %}">Onboardings</a></li>
            <li>Onboarding</li>
        </ol>
    </div>
</div>
<div class="pull-right noprint">
    {% edit_button object use_pk=1 %}
    {% delete_button object use_pk=1 %}
</div>
<h1>Onboarding Task</h1>
{% include 'inc/created_updated.html' %}
<div class="pull-right noprint">
    {% custom_links object %}
</div>
{% endblock %}