{% extends 'base.html' %}
{% load buttons %}
{% load static %}
{% load custom_links %}
{% load helpers %}

{% block title %}{{ object.device.name }} Thola{% endblock %}

{% block header %}
<div class="row noprint">
    <div class="col">
        <ol class="breadcrumb">
            <li><a href="{% url 'plugins:thola_nautobot:tholadevice_list' %}">Thola Devices</a></li>
            <li>{{ object.device.name }}</li>
        </ol>
    </div>
</div>
<div class="pull-right noprint">
    {% edit_button object use_pk=1 %}
    {% delete_button object use_pk=1 %}
</div>
<h1>{{ object.device.name }} Thola</h1>
{% include 'inc/created_updated.html' %}
<div class="pull-right noprint">
    {% custom_links object %}
</div>
<ul class="nav nav-tabs">
    <li role="presentation">
        <a href="{{ object.get_absolute_url }}">Thola Device</a>
    </li>
    <li role="presentation" class="active">
        <a href="{% url 'plugins:thola_nautobot:tholadevice_status' pk=object.pk %}">Live Status</a>
    </li>
</ul>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Status</strong>
            </div>
            <table class="table table-hover panel-body attr-table">
                <tbody id="status_table"></tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
    $(document).ready(function () {
        $.ajax({
            url: "{{ livedata_url }}",
            dataType: 'json',
            success: function (json) {
                if (json['interfaces']['error']) {
                    $('#status_table').append("<tr><th>Interfaces</th><td><span class=\"text-danger\">" + json['interfaces']['error'] + "</span></td></tr>");
                }
                if (json['cpu']['error']) {
                    $('#status_table').append("<tr><th>CPU</th><td><span class=\"text-danger\">" + json['cpu']['error'] + "</span></td></tr>");
                }
                if (json['memory']['error']) {
                    $('#status_table').append("<tr><th>Memory</th><td><span class=\"text-danger\">" + json['memory']['error'] + "</span></td></tr>");
                }
                if (json['disk']['error']) {
                    $('#status_table').append("<tr><th>Disk</th><td><span class=\"text-danger\">" + json['disk']['error'] + "</span></td></tr>");
                }
                if (json['hardware_health']['error']) {
                    $('#status_table').append("<tr><th>Hardware health</th><td><span class=\"text-danger\">" + json['hardware_health']['error'] + "</span></td></tr>");
                }
                if (json['ups']['error']) {
                    $('#status_table').append("<tr><th>UPS</th><td><span class=\"text-danger\">" + json['ups']['error'] + "</span></td></tr>");
                }
                if (json['sbc']['error']) {
                    $('#status_table').append("<tr><th>SBC</th><td><span class=\"text-danger\">" + json['sbc']['error'] + "</span></td></tr>");
                }
                if (json['server']['error']) {
                    $('#status_table').append("<tr><th>Server</th><td><span class=\"text-danger\">" + json['server']['error'] + "</span></td></tr>");
                }
                // TODO add more
            },
            error: function (xhr) {
                if (xhr.responseText['detail']) {
                    alert(xhr.responseText['detail'])
                } else {
                    alert(xhr.responseText)
                }
            }
        })
    })
</script>
{% endblock %}