{% extends 'base.html' %}
{% load buttons %}
{% load static %}
{% load custom_links %}
{% load helpers %}

{% block title %}{{ object.device.name }} Live Status{% endblock %}

{% block header %}
<div class="row noprint">
    <div class="col">
        <ol class="breadcrumb">
            <li><a href="{% url 'plugins:thola_nautobot:tholadevice_list' %}">Thola Devices</a></li>
            <li>{{ object.device.name }}</li>
        </ol>
    </div>
</div>
<div class="pull-right noprint">
    {% edit_button object use_pk=1 %}
    {% delete_button object use_pk=1 %}
</div>
<h1>{{ object.device.name }} Live Status</h1>
{% include 'inc/created_updated.html' %}
<div class="pull-right noprint">
    {% custom_links object %}
</div>
<ul class="nav nav-tabs">
    <li role="presentation">
        <a href="{{ object.get_absolute_url }}">Thola Device</a>
    </li>
    <li role="presentation" class="active">
        <a href="{% url 'plugins:thola_nautobot:tholadevice_status' pk=object.pk %}">Live Status</a>
    </li>
</ul>
{% endblock %}

{% block content %}
{% include 'inc/ajax_loader.html' %}
<div id="status_row"></div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
    $(document).ready(function () {
        $.ajax({
            url: "{{ livedata_url }}",
            dataType: 'json',
            success: function (json) {
                /* interfaces */
                if (json['interfaces']['error']) {
                    $('#status_row').append("" +
                        "<div class=\"row\">" +
                        "<div class=\"col-md-6\">\n" +
                        "<div class=\"panel panel-default\">\n" +
                        "<div class=\"panel-heading\">\n" +
                        "<strong>Interfaces</strong>\n" +
                        "</div>\n" +
                        "<div class=\"panel-body rendered-markdown\">\n" +
                        "<span class=\"text-danger\">" + json['interfaces']['error'] + "</span>\n" +
                        "</div>\n" +
                        "</div>\n" +
                        "</div>\n" +
                        "</div>")
                } else if (json['interfaces']) {
                    $('#status_row').append("" +
                        "<div class=\"row\">" +
                        "<div class=\"col-md-6\">\n" +
                        "<div class=\"panel panel-default\">\n" +
                        "<div class=\"panel-heading\">\n" +
                        "<strong>Interfaces</strong>\n" +
                        "</div>\n" +
                        "<div class=\"panel-body rendered-markdown\">\n" +
                        "<span class=\"mdi mdi-check-bold\"></span>\n" +
                        "</div>\n" +
                        "</div>\n" +
                        "</div>\n" +
                        "</div>")
                }

                /* cpu */
                if (json['cpu']['error']) {
                    $('#status_row').append("" +
                        "<div class=\"row\">" +
                        "<div class=\"col-md-6\">\n" +
                        "<div class=\"panel panel-default\">\n" +
                        "<div class=\"panel-heading\">\n" +
                        "<strong>CPU</strong>\n" +
                        "</div>\n" +
                        "<div class=\"panel-body rendered-markdown\">\n" +
                        "<span class=\"text-danger\">" + json['cpu']['error'] + "</span>\n" +
                        "</div>\n" +
                        "</div>\n" +
                        "</div>\n" +
                        "</div>")
                } else if (json['cpu']['cpu_load']) {
                    $('#status_row').append("" +
                        "<div class=\"row\">" +
                        "<div class=\"col-md-6\">\n" +
                        "<div class=\"panel panel-default\">\n" +
                        "<div class=\"panel-heading\">\n" +
                        "<strong>CPU</strong>\n" +
                        "</div>\n" +
                        "<div class=\"panel-body rendered-markdown\">\n" +
                        json['cpu']["cpu_load"] + "%\n" +
                        "</div>\n" +
                        "</div>\n" +
                        "</div>\n" +
                        "</div>")
                }

                /* memory*/
                if (json['memory']['error']) {
                    $('#status_row').append("" +
                        "<div class=\"row\">" +
                        "<div class=\"col-md-6\">\n" +
                        "<div class=\"panel panel-default\">\n" +
                        "<div class=\"panel-heading\">\n" +
                        "<strong>Memory</strong>\n" +
                        "</div>\n" +
                        "<div class=\"panel-body rendered-markdown\">\n" +
                        "<span class=\"text-danger\">" + json['memory']['error'] + "</span>\n" +
                        "</div>\n" +
                        "</div>\n" +
                        "</div>\n" +
                        "</div>")
                } else if (json['memory']['memory_usage']) {
                    $('#status_row').append("" +
                        "<div class=\"row\">" +
                        "<div class=\"col-md-6\">\n" +
                        "<div class=\"panel panel-default\">\n" +
                        "<div class=\"panel-heading\">\n" +
                        "<strong>Memory</strong>\n" +
                        "</div>\n" +
                        "<div class=\"panel-body rendered-markdown\">\n" +
                        json['memory']["memory_usage"] + "%\n" +
                        "</div>\n" +
                        "</div>\n" +
                        "</div>\n" +
                        "</div>")
                }

                /* disk */
                if (json['memory']['error']) {
                    $('#status_row').append("" +
                        "<div class=\"row\">" +
                        "<div class=\"col-md-6\">\n" +
                        "<div class=\"panel panel-default\">\n" +
                        "<div class=\"panel-heading\">\n" +
                        "<strong>Disk</strong>\n" +
                        "</div>\n" +
                        "<div class=\"panel-body rendered-markdown\">\n" +
                        "<span class=\"text-danger\">" + json['disk']['error'] + "</span>\n" +
                        "</div>\n" +
                        "</div>\n" +
                        "</div>\n" +
                        "</div>")
                } else if (json['disk']['disk']['storages']) {
                    let storages = json['disk']['disk']['storages']
                    let storage_str = ""
                    for (let i = 0; i < storages.length; i++) {
                        storage_str += "<tr><td>" + storages[i]['description'] + "</td><td>" + storages[i]['type'] + "</td><td>" + Math.round(storages[i]['used'] / storages[i]['available'] * 100) + "%</td></tr>\n";
                    }
                    $('#status_row').append("" +
                        "<div class=\"row\">" +
                        "<div class=\"col-md-6\">\n" +
                        "<div class=\"panel panel-default\">\n" +
                        "<div class=\"panel-heading\">\n" +
                        "<strong>Disk</strong>\n" +
                        "</div>\n" +
                        "<table class=\"table table-hover table-headings\">\n" +
                        "<thead><tr><th>Description</th><th>Type</th><th>Usage</th></tr></thead>" +
                        "<tbody>\n" +
                        storage_str +
                        "</tbody>\n" +
                        "</table>" +
                        "</div>\n" +
                        "</div>\n" +
                        "</div>")
                }

                /* hardware_health */
                /* TODO*/

                /* sbc */
                /* TODO*/

                /* ups */
                /* TODO*/

                /* server */
                if (json['server']['error']) {
                    $('#status_row').append("" +
                        "<div class=\"row\">" +
                        "<div class=\"col-md-6\">\n" +
                        "<div class=\"panel panel-default\">\n" +
                        "<div class=\"panel-heading\">\n" +
                        "<strong>Server</strong>\n" +
                        "</div>\n" +
                        "<div class=\"panel-body rendered-markdown\">\n" +
                        "<span class=\"text-danger\">" + json['server']['error'] + "</span>\n" +
                        "</div>\n" +
                        "</div>\n" +
                        "</div>\n" +
                        "</div>")
                } else if (json['server']['server']) {
                    $('#status_row').append("" +
                        "<div class=\"row\">" +
                        "<div class=\"col-md-6\">\n" +
                        "<div class=\"panel panel-default\">\n" +
                        "<div class=\"panel-heading\">\n" +
                        "<strong>Server</strong>\n" +
                        "</div>\n" +
                        "<table class=\"table table-hover panel-body attr-table\">\n" +
                        "<tbody>\n" +
                        "<tr><th>Processes</th><td>" + json['server']['server']['procs'] + "</td></tr>\n" +
                        "<tr><th>Users</th><td>" + json['server']['server']['users'] + "</td></tr>\n" +
                        "</tbody>\n" +
                        "</table>\n" +
                        "</div>\n" +
                        "</div>\n" +
                        "</div>")
                }
                // TODO add more
            },
            error: function (xhr) {
                if (xhr.responseText['detail']) {
                    alert(xhr.responseText['detail'])
                } else {
                    alert(xhr.responseText)
                }
            }
        })
    })
</script>
{% endblock %}